body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.link-box {
    display: inline-block;
    background-color: #ff6f61; /* Canlı renk */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.link-box:hover {
    transform: scale(1.05);
}
